header > a:hover {
  color: white;
}
header > * {
  /* border-radius: 6px; */
  /* padding: 0.25rem; */
  /* transition: all 250ms; */
}
/* header > a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  background: #ff7f50;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
} */

header > a:hover:after {
  width: 100%;
  left: 0;
}
#scrollableProjects {
  scrollbar-width: none;
}
