@import "tailwindcss";
:root {
  font-family: Lato, Geneva, Tahoma, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-snap-type: y mandatory;
}
h1,
h2,
p {
  font-family: "Montserrat", Verdana, Geneva, sans-serif;
  font-optical-sizing: auto;
}

.animated-arrow {
}
